<header class="bg-[#383838] border-b-[1px] border-b-[#8b8b8b]">
  <div class="container">
    <div class="flex justify-between items-center h-14">
      <a routerLink="home" class="">
        <img
          src="https://primefaces.org/cdn/primeng/images/primeng.svg"
          alt=""
        />
      </a>
      <menu class="menu">
        <p-menubar [model]="items" />
      </menu>
      <button
        type="button"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
      >
        Button
      </button>
    </div>
  </div>
</header>
