<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="create()">
    <app-input-control
      labelName="Film İsmi"
      [form]="form"
      placeholder="Lütfen Film İsmini Giriniz"
      [fc]="newTitle"
    />
    @if (newTitle.invalid&& newTitle.dirty) { @if
    (newTitle.errors?.["required"]) {
    <p class="error-message">Film İsmi Zorunludur</p>
    } }
    <st-editor [config]="config" [formControl]="newOverview" />
    @if(newOverview.invalid && newOverview.dirty) {
    @if(newOverview.errors?.['required']) {
    <p class="error-message">Film Açıklaması Zorunludur</p>
    } @if(newOverview.errors?.['minlength']) {
    <p class="error-message">Film Açıklaması En Az 100 Karakter Olmalıdır</p>
    } }
    <div class="mt-3 flex gap-3">
      <button
        class="px-2 py-2 bg-purple-500 text-sm font-bold rounded-md"
        type="submit"
        [disabled]="!form.valid"
      >
        Oluştur
      </button>
    </div>
  </form>
</div>
